* {
	margin:0;
	padding:0;
}


.side-list {
	border:0px solid red;
	padding:2px 0px;
}

.side-list a {
	border:1px solid white;
	background: linear-gradient(45deg, #343A40 70%, #161C22 30%) ;
	color: white;
	padding: 10px;
	line-height: 18px;
	text-transform: capitalize;
	font-size: 15px;
	display: block;
	transition: 0.3s;
	border-radius: 3px;
	
}
.side-list a:hover {
	border:1px solid white;
	background: linear-gradient(45deg, #343A40 100%, #161C22 0%) ;
	color: white;
	line-height: 18px;
	font-size: 15px;
	display: block;
	box-shadow: 5px 5px 20px gray;
	border-radius: 3px;
	animation: side-list-animation 0.3s linear;
}














